html{
    height: 100%;
    width: 100%;
}

body
    {
        background-image:url('../images/desk1.jpg');
        -webkit-background-size: 100% 100% ;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

.formC
    {
        position: absolute;
        background-color: white;
        width: 40%;
        height: 30%;
        margin: auto;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    }