#jform {
    margin-left: 1%;
}

#jform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;

	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: absolute;
}

/*Hide all except first fieldset*/
#jform fieldset:not(:first-of-type) {
	display: none;
}

.contadorQ{
    float:right !important;
    /*text-align: right;
    position: relative !important;*/
    width: auto !important;
}

#imgContainer{
  position: relative;
  display: inline-block;
}

.imagenCon{
  position: relative;
}

#imgContainer3{
  position: absolute;
  color:black;
  background-color: red;
  /* margin-top:-300px; */
  /* bottom:0;
  left: 0;
  right: 0; */
  width: 100%;
  height: 100%;
  /* width: WIDTH_OF_imgContainer;
  height: HEIGHT_OF_imgContainer; */
  margin-top: 0px;
  opacity: 0.1;
  /* width: 100%; */
  /* height: 100%; */
  /* display: inline-block; */
  transform: translate(0,-100%);
}
