#jform {
    margin-left: 1%;
}

#jform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}

/*Hide all except first fieldset*/
#jform fieldset:not(:first-of-type) {
	display: none;
}