<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/jsonFormStyle.css') }}" rel="stylesheet" type= "text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.Jcrop.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.Jcrop.js') }}"></script>
    
    <script type="text/javascript">
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches
        
        
        $(function() {          
            $('#finForm').click(function() {
		 
		        $.ajax({
		            url: '/jsonDat',
                    //contentType: 'application/json',
		            //data: JSON.stringify($('form').serialize()),
                    data : $('form').serialize(),
                    dataType: 'json',
		            type: 'POST',
		            success: function(response) {
                        //alert("JSON guardado");
		                window.location.href = response.urlI;
                       // alert(response.urlI+'/'+response.name)
                        //window.location.href = response.urlI+"/"+response.name;
		                //alert("ok");
		            },
		            error: function(error) {
		                console.log(error);
		            }
		        });
		    });
            
		}); 
        
        $(function() {
            
            
        $(".next").click(function(){
  
            
            if(animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            //$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show(); 
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50)+"%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({'transform': 'scale('+scale+')'});
                    next_fs.css({'left': left, 'opacity': opacity});
                }, 
                duration: 800, 
                complete: function(){
                    current_fs.hide();
                    animating = false;
                }, 
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
            
            $('html, body').animate({scrollTop:0}, 'slow');
        });   
        });
        
        $(function() {
        $(".previous").click(function(){
                      
                if(animating) return false;
                animating = true;

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //de-activate current step on progressbar
                //$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show(); 
                //hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                    step: function(now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale previous_fs from 80% to 100%
                        scale = 0.8 + (1 - now) * 0.2;
                        //2. take current_fs to the right(50%) - from 0%
                        left = ((1-now) * 50)+"%";
                        //3. increase opacity of previous_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({'left': left});
                        previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
                    }, 
                    duration: 800, 
                    complete: function(){
                        current_fs.hide();
                        animating = false;
                    }, 
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
            });

            $(".submit").click(function(){
                return false;
            })
            });

        
            function showCoords(c)
          {
            $('[name=x1'+selectorCoords+']').val(c.x);
            $('[name=y1'+selectorCoords+']').val(c.y);
            $('[name=x2'+selectorCoords+']').val(c.x2);
            $('[name=y2'+selectorCoords+']').val(c.y2);
          };

          function clearCoords()
          {
            $('#coords'+op+' input').val('');
          };

          function crop(e){
            console.log(e.id);
            // alert(e);
          }

          $(document).ready(function () {
            $('img').on("mouseenter",function(){
                op = $(this).attr('name');
                console.log(op);

                var jcrop_api;
                
                x1 = $('[name=x1'+selectorCoords+']')
                x2 = $('[name=x2'+selectorCoords+']')
                y1 = $('[name=y1'+selectorCoords+']')
                y2 = $('[name=y2'+selectorCoords+']')

                $('#imgContainer'+op).Jcrop({
                  allowResize: true,
                  onChange:   showCoords,
                  onSelect:   showCoords,
                  onRelease:  clearCoords,
                },function(){
                  jcrop_api = this;
                });

                $('#coords-'+op).on('change','input',function(e){
                      x1 = x1.val(),
                      x2 = x2.val(),
                      y1 = y1.val(),
                      y2 = y2.val();
                  jcrop_api.setSelect([x1,y1,x2,y2]);
                });
            });
          });

        
        function editaBoundy(e,selector){
            selectorCoords = '-'+selector+'-'+e.name;
        }

        function eliminaBoundy(e,actualC){
            let contador = document.getElementById('contadorBoundy'+actualC);
            let array = contador.value.split(',');
            if(array.length==1){
                    alert("No se permite borrar el unico formulario");
                }
            else{
                let contenedor = document.getElementById('contenedor'+actualC);
                let actual = parseInt(e.name);
                let formulario = document.getElementById('formulario-'+actualC+'-'+actual);
                eliminaArrayBoundy(actualC,actual);
                contenedor.removeChild(formulario);
            }
        }

        function eliminaArrayBoundy(actualC,actual){
            let contador = document.getElementById('contadorBoundy'+actualC);
            let array = JSON.parse("["+contador.value+"]");
            let joined = "";
            array.splice(array.indexOf(actual),1);
            joined = array.join(",");
            console.log(joined);
            contador.value=joined
        }

        function agregaArrayBoundy(actualC){
            let contador = document.getElementById('contadorBoundy'+actualC);
            let lBoundy = document.getElementById('lastBoundy'+actualC);
            let lastInd = parseInt(lBoundy.value);
            lBoundy.value = lastInd+1;
            let array = JSON.parse("["+contador.value+"]");
            let joined = "";
            array.push(lastInd+1);
            joined = array.join(",");
            contador.value=joined
        }

        function agregaBoundy(e,actualC){
            let actual = parseInt(e.id);        
            let arrayElements = [];
            let nextId = document.getElementById('lastBoundy'+actualC);
            let lBoundy = document.getElementById('contadorBoundy'+actualC);
            let arrayCboundy = lBoundy.value.split(",");
            let lastInd = parseInt(arrayCboundy[arrayCboundy.length-1]);
            let formulario = document.getElementById('formulario-'+actualC+'-'+lastInd).cloneNode(true);

            if(formulario)
                {    
                    e.id=parseInt(e.id)+1;
                    
                    let contaField = document.getElementById('numField');
                    
                    let contenedor = document.getElementById('contenedor'+actualC);
                    arrayElements = [].slice.call(formulario.getElementsByTagName("*")); 
                    console.log(arrayElements);
                    let lastIdInp = document.getElementById('lastInputId'+actualC);
                    let valueLastId = parseInt(lastIdInp.value);
                    let lastDigit;
                    
                    let idForm = "formulario-"+actualC+'-'+(parseInt(nextId.value)+1);
                    formulario.id = idForm;
                    console.log("FORMULARIO ID: "+formulario.id);
                    
                    formulario.name = idForm;
                    console.log("FORMULARIO ID: "+formulario.name);
                    for (let index = 0; index < arrayElements.length; index++) {
                        if(arrayElements[index].name)
                        {
                            lastDigit = 0;
                            //lastDigit++;
                            if((arrayElements[index].readOnly==false || arrayElements[index].id=="combo")&&arrayElements[index].type!="button"){
                                lastDigit = parseInt(arrayElements[index].name.slice(arrayElements[index].name.lastIndexOf('-')+1,arrayElements[index].name.length));                    
                                arrayElements[index].name=arrayElements[index].name.slice(0,arrayElements[index].name.lastIndexOf('-')+1)+(parseInt(lastDigit)+parseInt(valueLastId));
                            }
                            else{
                                lastDigit = parseInt(arrayElements[index].name.slice(arrayElements[index].name.lastIndexOf('-')+1,arrayElements[index].name.length))+1;
                                arrayElements[index].name=arrayElements[index].name.slice(0,arrayElements[index].name.lastIndexOf('-')+1)+lastDigit;
                            }
                            
                            
                            if(arrayElements[index].type=="radio")
                                arrayElements[index].checked=false;

                            if(arrayElements[index].type=="checkbox")
                                arrayElements[index].selected=false;
                            
                            if(arrayElements[index].type=="text")
                                arrayElements[index].value="";
                                
                            if(arrayElements[index].id=="textarea")
                                arrayElements[index].value="";
                        }
                    }
                    console.log("DIV: "+formulario.id);
                    console.log("NAME: "+formulario.name);
                    agregaArrayBoundy(actualC,actual);
                    contenedor.appendChild(formulario);
                }
            else{
                console.log("No se pudo clonar el formulario");
                
            }
        }
    </script>
</head>
    <body>
        
        
        <form class="formContent" id="jform" enctype="multipart/form-data">
        {% for x,y in jsonInfo2.items() %}            
            <h1>Categoria:</h1><h2>{{ y['name'] }}</h2>
            <input type="hidden" name="path" value="{{y['path']}}">
            {% set numberQ = y['numtags'] | int %}
            <input type="hidden" name="cantidad" value="{{numberQ}}">
            {% for rep in range(0,numberQ) %}
            {% set indQuest = [] %}
            {% set classSetCont = [] %}
            {% set coordsCont = [] %}    
            <fieldset>
                <input type="hidden" id="lastBoundy{{rep+1}}" value="1">
                <input type="hidden" id="contadorBoundy{{rep+1}}" name="contadorBoundy{{rep+1}}" value="1">
                <input type="hidden" name="checkBoundy" value="{{y['boundy']}}"> 
                <div class="contadorQ">{{rep+1}} de {{numberQ}}</div>
                <div id="imgContainer{{rep+1}}">
                    <img class="imagenCon" id="im{{rep+1}}" name="{{rep+1}}" src="{{ url_for('static', filename=hists[rep]) }}">
                </div>
                <input type="hidden" name="img{{rep+1}}" value="{{hists[rep]}}">
                <div id="contenedor{{rep+1}}">
                
                {% set qPerIm = [] %}
                {% set stringBoundy = ''%}
                {% set imName = hists[rep][hists[rep].rfind('/')+1:] %}
                {% set numberBoundy = 1 %}
                {% set stringBoundy = 'ClassSet'%}
                {% set numberBoundy = jsonInfo4[imName][0]|length%}
                {% set otro = [] %}
                NUMERO BOUNDY
                {{numberBoundy}}
                {%for i,j in jsonInfo4[imName][0].items()%}
                    {% set namesClas = [] %} 
                    <div id="formulario-{{rep+1}}-{{classSetCont|count+1}}" name="formulario-{{rep+1}}-1">
                    {%for k,h in j[0].items()%}
                        
                        
                        {%if y['boundy']=='1' %}
                            SIEMPRE ENTRA
                            {%if k == 'Coords'%}
                                {% if coordsCont.append('1') %}{% endif %}  
                                    <div id="coords{{rep+1}}" name="coords-{{rep+1}}-1">
                                        <br><br>
                                        <input type="text" id="x1-{{rep+1}}-1" name="x1-{{rep+1}}-{{coordsCont|count}}" value="{{h['x1']}}" placeholder="x1" readonly>
                                        <input type="text" id="y1-{{rep+1}}-1" name="y1-{{rep+1}}-{{coordsCont|count}}" value="{{h['y1']}}" placeholder="y1" readonly>
                                        <input type="text" id="x2-{{rep+1}}-1" name="x2-{{rep+1}}-{{coordsCont|count}}" value="{{h['x2']}}" placeholder="x2" readonly>
                                        <input type="text" id="y2-{{rep+1}}-1" name="y2-{{rep+1}}-{{coordsCont|count}}" value="{{h['y2']}}" placeholder="y2" readonly>
                                        <input type="button" id="editaBound" name="{{coordsCont|count}}" value="Editar Boundy Box" onclick="editaBoundy(this,{{rep+1}})">
                                        <input type="button" id="editaBound" name="{{coordsCont|count}}" value="Eliminar" onclick="eliminaBoundy(this,{{rep+1}})">
                                    </div>
                            {%else%}
                                {% if otro|length >= y['tags']|length %}
                                    {% for item in otro%}
                                        {% if otro.remove(item) %}{% endif %} 
                                    {%endfor%}
                                {% else %}
                                    {% if otro.append('1') %}{% endif %}        
                                {% endif %}
                                {% set clasCont = otro|length %}
                                
                                {% set setterCont = classSetCont|length+1%} <!-- Contador que abarca todos los Classname que tiene el JSON en cada fieldset-->
                                {% set namesCont = namesClas|length%}
                                
                                {{y['tags']['classname1']['type']}}
                                    
                                {% if indQuest.append('1') %}{% endif %}
                                    <!-- <div id="name">{{ b }}</div>-->
                                    <p>
                                    perIM {{ otro|length }}
                                    SETTER {{setterCont}}- 
                                    CLASS {{clasCont}} --
                                    NAMES {{namesCont}} --</p>
                                    <h3>{{y['tags']['classname'+namesCont|string]['question']}}</h3>
                                    {% if y['tags']['classname'+namesCont|string]['type'] == 'radio' %}
                                        {% for t in y['tags']['classname'+namesCont|string]['opt'] %}
                                                {% if jsonInfo4[imName][0]['ClassSet'+setterCont|string][0]['Classname'+clasCont|string]['opt']==t %}
                                                    <input type="radio" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{t}}" checked> {{t}}<br>
                                                {% else %}
                                                    <input type="radio" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{t}}"> {{t}}<br>
                                                {%endif%}
                                        {% endfor %}
                                    {% elif y['tags']['classname'+namesCont|string]['type'] == 'text' %}
                                        {% if jsonInfo4[imName][0]['ClassSet'+setterCont|string][0]['Classname'+clasCont|string]['opt'].length!=0 %}
                                            <input type="text" name="opt-{{rep+1}}-{{indQuest|count}}" value={{jsonInfo4[imName][0]['ClassSet'+setterCont|string][0]['Classname'+clasCont|string]['opt']}}><br><br>
                                        {% else %}
                                            <input type="text" name="opt-{{rep+1}}-{{indQuest|count}}"><br><br>
                                        {% endif %}
                                    {% elif y['tags']['classname'+namesCont|string]['type'] == 'combo' %}
                                        <select name="opt-{{rep+1}}-{{indQuest|count}}">
                                            <option value="">Selecciona</option>
                                        {% for m in y['tags']['classname'+namesCont|string]['opt'] %}
                                            {% if jsonInfo4[imName][0]['ClassSet'+setterCont|string][0]['Classname'+clasCont|string]['opt']==m %}
                                                <option value="{{m}}" selected>{{m}}</option>
                                            {% else %}
                                                <option value="{{m}}">{{m}}</option>
                                            {% endif %}
                                        {% endfor %}    
                                        </select><br><br>
                                    {% elif y['tags']['classname'+namesCont|string]['type'] == 'check' %}
                                        {% for c in y['tags']['classname'+namesCont|string]['opt'] %}
                                            {% if jsonInfo4[imName][0]['ClassSet'+setterCont|string][0]['Classname'+clasCont|string]['opt']==c %}
                                                <input type="checkbox" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{c}}" checked> {{c}}<br><br>
                                            {% else %}
                                                <input type="checkbox" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{c}}"> {{c}}<br><br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if y['tags']['classname'+namesCont|string]['text'] == '1' %}
                                        <textarea name="text-{{rep+1}}-{{indQuest|count}}">{{jsonInfo4[imName][0]['ClassSet'+setterCont|string][0]['Classname'+clasCont|string]['text']}}</textarea><br><br>
                                    {% else %}
                                        <input type="hidden" name="text-{{rep+1}}-{{indQuest|count}}" value="">
                                    {% endif %}
                                {% if namesClas.append('1') %}{% endif %}
                            {%endif%}
                                {%for p in h.items()%}
                                    
                                {%endfor%}
                        {%else%}
                            Data:
                            {{j}}
                            =====
                            {% for a,b in y['tags'].items() %}
                                {% if qPerIm.append('1') %}{% endif %}
                                es {{qPerIm|count}}
                                {% set clasCont = qPerIm|length %}
                                {% if indQuest.append('1') %}{% endif %}
                                <!-- <div id="name">{{ b }}</div>-->
                                <h3>{{b['question']}}</h3>
                                {% if b['type'] == 'radio' %}
                                    {% for t in b['opt'] %}
                                            {% if jsonInfo4[imName][0]['Classname'+clasCont|string]['opt']==t %}
                                                <input type="radio" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{t}}" checked> {{t}}<br>
                                            {% else %}
                                                <input type="radio" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{t}}"> {{t}}<br>
                                            {%endif%}
                                    {% endfor %}
                                {% elif b['type'] == 'text' %}
                                    {% if jsonInfo4[imName][0]['Classname'+clasCont|string]['opt'].length!=0 %}
                                        <input type="text" name="opt-{{rep+1}}-{{indQuest|count}}" value={{jsonInfo4[imName][0]['Classname'+clasCont|string]['opt']}}><br><br>
                                    {% else %}
                                        <input type="text" name="opt-{{rep+1}}-{{indQuest|count}}"><br><br>
                                    {% endif %}
                                {% elif b['type'] == 'combo' %}
                                    <select name="opt-{{rep+1}}-{{indQuest|count}}">
                                        <option value="">Selecciona</option>
                                    {% for m in b['opt'] %}
                                        {% if jsonInfo4[imName][0]['Classname'+clasCont|string]['opt']==m %}
                                            <option value="{{m}}" selected>{{m}}</option>
                                        {% else %}
                                            <option value="{{m}}">{{m}}</option>
                                        {% endif %}
                                    {% endfor %}    
                                    </select><br><br>
                                {% elif b['type'] == 'check' %}
                                    {% for c in b['opt'] %}
                                        {% if jsonInfo4[imName][0]['Classname'+clasCont|string]['opt']==c %}
                                            <input type="checkbox" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{c}}" checked> {{c}}<br><br>
                                        {% else %}
                                            <input type="checkbox" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{c}}"> {{c}}<br><br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if b['text'] == '1' %}
                                    <textarea name="text-{{rep+1}}-{{indQuest|count}}">{{jsonInfo4[imName][0]['Classname'+clasCont|string]['text']}}</textarea><br><br>
                                {% else %}
                                    <input type="hidden" name="text-{{rep+1}}-{{indQuest|count}}" value="">
                                {% endif %}
                            {% endfor %}
                        {%endif%}
                        
                        
                    {%endfor%}
                    </div>        
                        
                        {% if classSetCont|length >= y['tags']|length %}
                            
                            {% for item in classSetCont%}
                                {% if classSetCont.remove(item) %}{% endif %} 
                            {%endfor%}
                        {% else %}
                            
                            {% if classSetCont.append('1') %}{% endif %}    
                        {%endif%}
                {%endfor%}
                        
                
                
                
                

            
                </div>
                <input type="hidden" id="lastInputId{{rep+1}}" value="{{classSetCont|count-1}}">
                <br>
                {%if y['boundy'] == '1'%}
                <input type="button" id="{{rep+1}}" value="Agregar Boundy Box" onclick="agregaBoundy(this,{{rep+1}})"> <br><br><br>
                {% endif %}
                {% if rep == numberQ-1 %}


                        <input type="button" name="previous" class="previous" value="Anterior" />

                {% elif rep == 0 %}

                    <input type="hidden" name="preguntas" value="{{indQuest|count}}">
                    <input type="button" name="next" class="next" value="Siguiente" />
                {% else %}


                    <input type="button" name="previous" class="previous" value="Anterior" />
                    <input type="button" name="next" class="next" value="Siguiente" />

                {% endif %}

                </fieldset>
            {% endfor %}
        {% endfor %}
        
        <input type="submit" id="finForm" name="submit" class="submit" value="Finalizar" />
        </form>
    </body>
</html>
    
