<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/jsonFormStyle.css') }}" rel="stylesheet" type= "text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.Jcrop.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.Jcrop.js') }}"></script>

    <script type="text/javascript">
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches
        var selectorCoords=0;


        $(function() {
            $('#finForm').click(function() {

		        $.ajax({
		            url: '/jsonDat',
                    //contentType: 'application/json',
		            //data: JSON.stringify($('form').serialize()),
                    data : $('form').serialize(),
                    dataType: 'json',
		            type: 'POST',
		            success: function(response) {
                        //alert("JSON guardado");
		                window.location.href = response.urlI;
                       // alert(response.urlI+'/'+response.name)
                        //window.location.href = response.urlI+"/"+response.name;
		                //alert("ok");
		            },
		            error: function(error) {
		                console.log(error);
		            }
		        });
		    });

		});

        $(function() {


        $(".next").click(function(){


            if(animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //activate next step on progressbar using the index of next_fs
            //$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50)+"%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({'transform': 'scale('+scale+')'});
                    next_fs.css({'left': left, 'opacity': opacity});
                },
                duration: 800,
                complete: function(){
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });

            $('html, body').animate({scrollTop:0}, 'slow');
        });
        });

        $(function() {
        $(".previous").click(function(){

                if(animating) return false;
                animating = true;

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //de-activate current step on progressbar
                //$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();
                //hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                    step: function(now, mx) {
                        //as the opacity of current_fs reduces to 0 - stored in "now"
                        //1. scale previous_fs from 80% to 100%
                        scale = 0.8 + (1 - now) * 0.2;
                        //2. take current_fs to the right(50%) - from 0%
                        left = ((1-now) * 50)+"%";
                        //3. increase opacity of previous_fs to 1 as it moves in
                        opacity = 1 - now;
                        current_fs.css({'left': left});
                        previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
                    },
                    duration: 800,
                    complete: function(){
                        current_fs.hide();
                        animating = false;
                    },
                    //this comes from the custom easing plugin
                    easing: 'easeInOutBack'
                });
                $('html, body').animate({scrollTop:0}, 'slow');
            });

            $(".submit").click(function(){
                return false;
            })
            });

      /*$.cropfun = $(function() {


      });*/

        function showCoords(c)
          {
            $('[name=x1'+selectorCoords+']').val(c.x);
            $('[name=y1'+selectorCoords+']').val(c.y);
            $('[name=x2'+selectorCoords+']').val(c.x2);
            $('[name=y2'+selectorCoords+']').val(c.y2);
            // $('#x1'+selectorCoords).val(c.x);
            // $('#y1'+selectorCoords).val(c.y);
            // $('#x2'+selectorCoords).val(c.x2);
            // $('#y2'+selectorCoords).val(c.y2);
            // $('#w'+op).val(c.w);
            // $('#h'+op).val(c.h);
            // x1.val(c.x);
            // y1.val(c.y);
            // x2.val(c.x2);
            // y2.val(c.y2);
            // w.val(c.w);
            // h.val(c.h);
          };

          function clearCoords()
          {
            $('#coords'+op+' input').val('');
          };

          function crop(e){
            console.log(e.id);
            // alert(e);
          }

          $(document).ready(function () {
            $('img').on("mouseenter",function(){
                op = $(this).attr('name');
                console.log(op);

                var jcrop_api;
                
                x1 = $('[name=x1'+selectorCoords+']')
                x2 = $('[name=x2'+selectorCoords+']')
                y1 = $('[name=y1'+selectorCoords+']')
                y2 = $('[name=y2'+selectorCoords+']')
                // x1 = $('#x1'+selectorCoords);
                // x2 = $('#x2'+selectorCoords);
                // y1 = $('#y1'+selectorCoords);
                // y2 = $('#y2'+selectorCoords);
                // w = $('#w'+op);
                // h = $('#h'+op);

                //$('#im'+op).Jcrop({
                $('#imgContainer'+op).Jcrop({
                  allowResize: true,
                  onChange:   showCoords,
                  onSelect:   showCoords,
                  onRelease:  clearCoords,
                },function(){
                  jcrop_api = this;
                });

                $('#coords-'+op).on('change','input',function(e){
                      x1 = x1.val(),
                      x2 = x2.val(),
                      y1 = y1.val(),
                      y2 = y2.val();
                  jcrop_api.setSelect([x1,y1,x2,y2]);
                });
            });
          });

        
    function editaBoundy(e,selector){
        selectorCoords = '-'+selector+'-'+e.name;
        console.log(selectorCoords);
        
    }

    function eliminaBoundy(e,actualC){
        let contenedor = document.getElementById('contenedor'+actualC);
        let actual = parseInt(e.name);
        let formulario = document.getElementById('formulario'+actual);
        eliminaArrayBoundy(actualC,actual);
        contenedor.removeChild(formulario);
    }

    function eliminaArrayBoundy(actualC,actual){
        let contador = document.getElementById('contadorBoundy'+actualC);
        let array = JSON.parse("["+contador.value+"]");
        let joined = "";
        array.splice(array.indexOf(actual),1);
        joined = array.join(",");
        console.log(joined);
        contador.value=joined
    }

    function agregaArrayBoundy(actualC,actual){
        let contador = document.getElementById('contadorBoundy'+actualC);
        let array = JSON.parse("["+contador.value+"]");
        let joined = "";
        array.push(actual+1);
        joined = array.join(",");
        contador.value=joined
    }

    function agregaBoundy(e,actualC){
        let actual = parseInt(e.id);        
        let arrayElements = [];
        agregaArrayBoundy(actualC,actual);
        e.id=parseInt(e.id)+1;
        console.log(actual);
        
        let contaField = document.getElementById('numField');
        //let contaBoundy = document.getElementById('contadorBoundy'+actualC);
        //console.log(contaBoundy);
        
        let formulario = document.getElementById('formulario'+actual).cloneNode(true);
        let contenedor = document.getElementById('contenedor'+actualC);
        //contaBoundy.value = parseInt(contaBoundy.value) + 1;
        arrayElements = [].slice.call(formulario.getElementsByTagName("*")); 
        console.log(arrayElements);
        let lastDigit;
        let formId = "formulario"+actual;
        //console.log("FORMA:"+formulario.id.length);
        
       // console.log("FORM: "+parseInt(formulario.id.slice(formulario.id.lastIndexOf('o')+1,formulario.id.length)));
        
        formulario.id = "formulario"+(parseInt(formulario.id.slice(formulario.id.lastIndexOf('o')+1,formulario.id.length))+1)
        for (let index = 0; index < arrayElements.length; index++) {
        //    if(formulario.id==formId)
         //   {
                //formId.id=
         //       console.log(formulario.id);
                
         //       console.log("formulario"+(parseInt(formulario.id.slice(formulario.id.lastIndexOf('o'),formulario.id.length))+1));
          //  }            

            if(arrayElements[index].name)
            {
                lastDigit = 0;
                lastDigit = parseInt(arrayElements[index].name.slice(arrayElements[index].name.lastIndexOf('-')+1,arrayElements[index].name.length))+1;
                arrayElements[index].name=arrayElements[index].name.slice(0,arrayElements[index].name.lastIndexOf('-')+1)+lastDigit;
                
                if(arrayElements[index].type=="radio")
                    arrayElements[index].checked=false;

                if(arrayElements[index].type=="checkbox")
                    arrayElements[index].selected=false;
                
                if(arrayElements[index].type=="text")
                    arrayElements[index].value="";
                    
                if(arrayElements[index].id=="textarea")
                    arrayElements[index].value="";
            /*if((arrayElements[index]).toString().indexOf('#')!=-1)
            {
                console.log("ENTRANDO");
                
                console.log(arrayElements[index]);
            }     */     
           // console.log(arrayElements[index]);
            //console.log(arrayElements[index].name.slice(0,arrayElements[index].name.lastIndexOf('-')+1));
            //console.log(arrayElements[index].name.slice(arrayElements[index].name.lastIndexOf('-')+1,arrayElements[index].name.length));
            //console.log(lastDigit);
            
            }
        }
       // let formId=formulario.getElementById("formulario"+actual);
        
        console.log("DIV: "+formulario.id);
        
        contenedor.appendChild(formulario);
    }
    </script>
</head>
    <body>
        <form class="formContent" id="jform" enctype="multipart/form-data">
        {% for x,y in jsonInfo2.items() %}
            <h1>Categoria:</h1><h2>{{ y['name'] }}</h2>
            <input type="hidden" name="path" value="{{y['path']}}">
            {% set numberQ = y['numtags'] | int %}
            {% set indQuest = [] %}
            {% set qPerIm = [] %}
            <input type="hidden" name="cantidad" value="{{numberQ}}">

            {% for rep in range(0,numberQ) %}
            <fieldset>
                <input type="hidden" id="contadorBoundy{{rep+1}}" value="1">
                <!-- <input type="hidden" id="numField" value="{{rep+1}}"> -->
                <div class="contadorQ">{{rep+1}} de {{numberQ}}</div>
                <div id="imgContainer{{rep+1}}">
                  <img class="imagenCon" id="im{{rep+1}}" name="{{rep+1}}" src="{{ url_for('static', filename=hists[rep]) }}">
                  <!-- <div id="imgContainer3"></div> -->
                </div>
                <input type="hidden" name="img{{rep+1}}" value="{{hists[rep]}}">
                <div id="contenedor{{rep+1}}">
                  <div id="formulario{{rep+1}}">
                    <div id="coords{{rep+1}}" name="coords-{{rep+1}}-1">
                      <br><br>
                      <input type="text" id="x1-{{rep+1}}-1" name="x1-{{rep+1}}-1" value="" placeholder="x1" readonly>
                      <input type="text" id="y1-{{rep+1}}-1" name="y1-{{rep+1}}-1" value="" placeholder="y1" readonly>
                      <input type="text" id="x2-{{rep+1}}-1" name="x2-{{rep+1}}-1" value="" placeholder="x2" readonly>
                      <input type="text" id="y2-{{rep+1}}-1" name="y2-{{rep+1}}-1" value="" placeholder="y2" readonly>
                      <input type="button" id="editaBound" name="1" value="Editar Boundy Box" onclick="editaBoundy(this,{{rep+1}})">
                      <input type="button" id="editaBound" name="1" value="Eliminar" onclick="eliminaBoundy(this,{{rep+1}})">
                      <!-- <input type="text" id="w{{rep+1}}" name="w{{rep+1}}" value="" placeholder="w"> -->
                      <!-- <input type="text" id="h{{rep+1}}" name="h{{rep+1}}" value="" placeholder="h"> -->
                    </div>
                    {% for a,b in y['tags'].items() %}
                        {% if indQuest.append('1') %}{% endif %}
                        <!-- <div id="name">{{ b }}</div>-->
                        <h3>{{b['question']}}</h3>
                        {% if b['type'] == 'radio' %}
                            {% for k in b['opt'] %}
                                <input type="radio" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{k}}"> {{k}}<br>
                            {% endfor %}
                        {% elif b['type'] == 'text' %}
                            <input type="text" name="opt-{{rep+1}}-{{indQuest|count}}"><br><br>
                        {% elif b['type'] == 'combo' %}
                            <select name="opt-{{rep+1}}-{{indQuest|count}}">
                                <option value="">Selecciona</option>
                            {% for m in b['opt'] %}
                                <option value="{{m}}">{{m}}</option>
                            {% endfor %}
                            </select><br><br>
                        {% elif b['type'] == 'check' %}
                            {% for c in b['opt'] %}
                                <input type="checkbox" name="opt-{{rep+1}}-{{indQuest|count}}" value="{{c}}"> {{c}}<br><br>
                            {% endfor %}
                        {% endif %}
                        {% if b['text'] == '1' %}
                            <textarea id="textarea" name="text-{{rep+1}}-{{indQuest|count}}"></textarea><br><br>
                        {% else %}
                            <input type="hidden" name="text-{{rep+1}}-{{indQuest|count}}" value="">
                        {% endif %}
                    {% endfor %}
                  </div>
                  </div>
                  <br>
                  <input type="button" id="{{rep+1}}" value="Agregar Boundy Box" onclick="agregaBoundy(this,{{rep+1}})"> <br><br><br>
                {% if rep == numberQ-1 %}

                        <input type="button" name="previous" class="previous" value="Anterior" />

                {% elif rep == 0 %}                    
                    <input type="hidden" name="preguntas" value="{{indQuest|count}}">
                    <input type="button" name="next" class="next" value="Siguiente" />
                {% else %}


                    <input type="button" name="previous" class="previous" value="Anterior" />
                    <input type="button" name="next" class="next" value="Siguiente" />

                {% endif %}
                </fieldset>
            {% endfor %}
        {% endfor %}

        <input type="submit" id="finForm" name="submit" class="submit" value="Finalizar" />
        </form>
    </body>
</html>
