<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Etiquetado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
</head>
    <body>
        <form method="POST" action="jForm" enctype="multipart/form-data">
            Cargar JSON file <input type="file" id="fileinput" name="fileJson"/> 
            <input type="submit" id="loadJ" value="OK">
        </form>
    </body>
</html>
    