<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Tag</title>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
	
	<link href="{{ url_for('static', filename='css/jsonCreate.css') }}" rel="stylesheet" type= "text/css">

		<script type="text/javascript">
		$(function() {          
            $('#sJson').click(function() {
		 
		        $.ajax({
		            url: '/saveJson',
		          //  data: JSON.stringify($('form').serialize()),
                   // dataType: 'json',
                    //contentType: 'application/json',
		            //data: JSON.stringify($('form').serialize()),
                    data : $('form').serialize(),
                    dataType: 'json',
		            type: 'POST',
		            success: function(response) {
                        alert("JSON guardado");
		                window.location.href = response.urlI;
		                //alert("ok");
		            },
		            error: function(error) {
		                console.log(error);
		            }
		        });
		    });
            
		}); 
        
        

		$(document).ready(function () {
			    $('.opcs').hide();
			  //$('#option1').show();
			 // $('#tipo').change(function () {
                $(document).on('change','select',function(){
                // alert("entra");
			    //$('.opcs').hide();
			    //$('#'+$(this).val()).show();
			    var opCh = $(this).val();
                  //  alert(opCh);
			    if(opCh == "combo" || opCh == "check" || opCh == "radio")
                    {
                        var myClass = $(this).attr("class");
                       // alert(myClass);
			    	    $('#optns'+myClass).show();
                    }
                else
                     $('.opcs').hide();
			  })
			});
            
            
        $(document).ready(function () {
			
			  //$('#option1').show();
			 // $('#tipo').change(function () {
                $(document).on('change','.ch',function(){
                    if(this.checked) {
                       //alert("entra");
                        document.getElementById('chHidden').disabled = true;
                        $(this).attr('value', '1');
                    }
                    else
                        {
                            document.getElementById('chHidden').disabled = false; 
                            $(this).attr('value', '0');
                        }
			    //$('.opcs').hide();
			    //$('#'+$(this).val()).show();

			  })
			});
            
</script>
</head>
<body>
    <body>
		<form method="POST" clas='comForm' action="saveJson" enctype="multipart/form-data">
			Ingresa el nombre de tu categoria <input type="text" name="nombre" readonly value="{{nameI}}"> <br>
			Ingresa la ruta en donde se alojarán tus imágenes <input type="text" name="ruta" readonly value="{{rout}}"> <br>
            Número total de imágenes de la carpeta <input type="number" name="nTotalImags" min="1" readonly value="{{nTotalImags}}"> <br>
			Número máximo de imágenes a mostrar <input type="number" name="nImags" min="1" readonly value="{{nImgs}}"> <br>
			Ingresa el número de preguntas <input type="number" name="nQuest" min="1" readonly value="{{questions}}"> <br>
            <input  type='hidden' value='{{valAlet}}' name='ordAlet'>
			Orden aleatorio <input type="checkbox" name="ordAlet" value="{{valAlet}}" {{orAlet}} onclick="return false;" value="1" disabled> <br>
			<input  type='hidden' value='{{valBound}}' name='checkBound'>
			Boundy Box <input type="checkbox" name="checkBound" value="{{valBound}}" {{checkBound}} onclick="return false;" value="1" disabled> <br>
		<!--	<button type="button" name="" id="btn" value="Click">Ok </button>-->
            {% set ind = [] %}
		{% if questions %}	
			{%for question in range(0,questions) %}
				<br><br>
				Pregunta <input type="text" name="q{{loop.index}}"><br>
            <div id="changeT">
				Tipo <select id="tipo" class="{{loop.index}}" name="select{{loop.index}}">
						<option value="text">Texto</option>
						<option value="radio">Radio button</option>
						<option value="combo">Combobox</option>
						<option value="check">Checkbox</option>
					 </select><br>
                </div>
				<div class="opcs" id="optns{{loop.index}}">Ingresa las opciones separadas por coma<input type="text" name="opcIn{{loop.index}}" required><br>
				<!--<button id="bOpt">OK</button><br>-->
                    
				</div>
                <input id='chHidden' type='hidden' value='0' name='chText{{loop.index}}'>
				Campo adicional para texto <input type="checkbox" class="ch" name="chText{{loop.index}}" ><br>
            {% if ind.append('1') %}{% endif %}
			 
            {% endfor %}
            <br><button type="button" class="btn btn-primary" id="sJson">Guardar JSON</button><!--<input type="submit" name="" value="Guardar JSON">-->
            <div id="valor" class="{{ind|count}}" hidden></div>
		{%endif%}
		</form>
	</body>
    

</body>
</html>
    