<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Tag</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>

		<script type="text/javascript">
		$(function() {
    $('#btn').click(function() {
		 
		        $.ajax({
		            url: '/ejemplo',
		            data: $('form').serialize(),
		            type: 'POST',
		            dataType:'JSON',
		           /* success: function(response) {
		            	//alert(response.pag);
		                //window.location.href = response;
		                alert("ok");
		            },*/
		            error: function(error) {
		                console.log(error);
		            }
		        });
		    });
            
            $('#sJson').click(function() {
		 
		        $.ajax({
		            url: '/saveJson',
		            data: $('form').serialize(),
		            type: 'POST',
		            dataType:'JSON',
		            success: function(response) {
		            	//alert(response.pag);
		                //window.location.href = response;
		                alert("ok");
		            },
		            error: function(error) {
		                console.log(error);
		            }
		        });
		    });
            
		}); 


		$(document).ready(function () {
			  $('.opcs').hide();
			  //$('#option1').show();
			  $('#tipo').change(function () {
			    $('.opcs').hide();
			    //$('#'+$(this).val()).show();
			    var opCh = $(this).val();
			    if(opCh == "combo" || opCh == "check" || opCh == "radio")
			    	$('#optns').show();
			  })
			});
</script>
</head>
<body>
    <body>
		<form method="POST" action="ejemplo">
			Ingresa el nombre de tu categoria <input type="text" name="nombre"> <br>
			Ingresa la ruta en donde se alojarán tus imágenes <input type="text" name="ruta"> <br>
			Número máximo de imágenes a mostrar <input type="number" name="nImags" min="1"> <br>
			Ingresa el número de preguntas <input type="number" name="nQuest" min="1"> <br>
			Orden aleatorio <input type="checkbox" name="ordAlet"> <br>
		<!--	<button type="button" name="" id="btn" value="Click">Ok </button>-->
		<input type="submit" name="" value="Ok"><br>
		{% if questions %}	
			{%for question in range(0,questions) %}
				<br><br>
				Pregunta <input type="text" name="q{{loop.index}}"><br>
				Tipo <select id="tipo">
						<option value="texto">Radio button</option>
						<option value="radio">Texto</option>
						<option value="combo">Combobox</option>
						<option value="check">Checkbox</option>
					 </select><br>
				<div class="opcs" id="optns">Ingresa el número de opciones<input type="number" name="opcIn" min="1"><br>
				<button id="bOpt">OK</button><br>
				</div>
				Campo adicional para texto <input type="checkbox" name="chText"><br>
			{% endfor %}
            <br><button type="button" id="sJson">Guardar JSON</button>
		{%endif%}
		</form>
	</body>
    

</body>
</html>
    